#Ignore .vsdix files#
*.vsidx

#Ignore ProjectEvaluation Folder#
EliApp/.vs/ProjectEvaluation

#Ignore v17 directory#
*/EliApp/v17


#Ignore obj directory#
*/EliApp/obj

EliApp/.vs/EliApp/v17
EliApp/EliApp/obj/project.assets.json
EliApp/EliApp/obj/project.nuget.cache
EliApp/EliApp/obj/EliApp.csproj.nuget.dgspec.json
EliApp/EliApp/obj/Debug/net6.0/EliApp.assets.cache
EliApp/.vs/ProjectEvaluation/eliapp.projects.v5.1
EliApp/.vs/ProjectEvaluation/eliapp.metadata.v5.1
EliApp/.vs/EliApp/v17/.futdcache.v2
EliApp/.vs/EliApp/DesignTimeBuild/.dtbcache.v2