@model EliApp.Models.EntryModel
@inject SignInManager<EliApp.Areas.Identity.Data.EliAppUser> SignInManager
@inject UserManager<EliApp.Areas.Identity.Data.EliAppUser> UserManager

@{
    //var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Make a New Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="account1" class="control-label">Account 1</label>
                <input asp-for="account1" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="account2" class="control-label">Account 2</label>
                @*<input asp-for="account2" class="form-control" />*@
                <select asp-for="account2" class="form-control" asp-items="@(new SelectList(ViewBag.message, "Id", "AccountName"))"></select>
                <span asp-validation-for="account2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountType" class="control-label">Type of Account</label>
                <select asp-for="accountType" class="form-control" asp-items="Html.GetEnumSelectList<AccountType>()">
                    @*<option>Select an account type</option>
                    <option>Debit</option>
                    <option>Credit</option>*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Amount</label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div>
                Supporting File
                <input asp-for="supportingFile" class="form-control" />
            </div>
            @*
            <form enctype="multipart/form-data" method="post">
                <dl>
                    <dt>
                        Upload Supporting File
                    </dt>
                    <dd>
                        <input asp-for="EntryUpload" type="file"/>
                    </dd>
                </dl>
                <input asp-page-handler="EntryUpload" class="btn btn-primary" type="submit" value="EntryUpload" />
            </form>
            *@
            @*
            <div class="form-group" accept=".txt,.pdf,.doc,.docx,.png,.jpg,.jpeg">
                Supporting File: <input asp-for="Upload" type="file" />
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

