@model EliApp.Models.EntryModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Make a New Entry</h4>

<!--Print Entry Journal: Must contain a print button-->
<input class="btn btn-info rounded-pill btn-md" type="button" value="Print Journal Entry" onclick="window.print();">


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="accountInvolved" class="control-label">Account Involved</label>
                <input asp-for="accountInvolved" class="form-control" />
                <label asp-for="account1" class="control-label">Account 1</label>
                <input asp-for="account1" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="account2" class="control-label">Account 2</label>
                @*<input asp-for="account2" class="form-control" />*@
                <select asp-for="account2" class="form-control" asp-items="@(new SelectList(ViewBag.message, "Id", "AccountName"))"></select>
                <span asp-validation-for="account2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountType" class="control-label">Type of Account</label>
                <select asp-for="accountType" class="form-control" asp-items="Html.GetEnumSelectList<AccountType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Amount</label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            @*Supporting File Uploading*@
            <div>
                Supporting File
                <input asp-for="supportingFile" class="form-control" />
            </div>
            @* Uploading method 1
            <form enctype="multipart/form-data" method="post">
                <dl>
                    <dt>
                        Upload Supporting File
                    </dt>
                    <dd>
                        <input asp-for="EntryUpload" type="file"/>
                    </dd>
                </dl>
                <input asp-page-handler="EntryUpload" class="btn btn-primary" type="submit" value="EntryUpload" />
            </form>
            @*
                <div class="form-group" accept=".txt,.pdf,.doc,.docx,.png,.jpg,.jpeg">
                    Supporting File: <input asp-for="Upload" type="file" />
                </div>
            *@
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="EntryUpload" />
            </form>*@
            
            @* Uploading Method 2
            <div class="form-group" accept=".txt,.pdf,.doc,.docx,.png,.jpg,.jpeg">
                Supporting File: <input type="file" asp-for="supportingFile" />
            </div>*@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

