@model EliApp.Models.EntryModel
@inject SignInManager<EliApp.Areas.Identity.Data.EliAppUser> SignInManager
@inject UserManager<EliApp.Areas.Identity.Data.EliAppUser> UserManager

@{
    //var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Make a New Entry</h4>

<!--Print Entry Journal: Must contain a print button-->
<input class="btn btn-info rounded-pill btn-md" type="button" value="Print Journal Entry" onclick="window.print();">


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="accountInvolved" class="control-label">Account Involved</label>
                <input asp-for="accountInvolved" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="accountType" class="control-label">Type of Account</label>
                <select asp-for="accountType" class="form-control">
                    <option>Debit</option>
                    <option>Credit</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Amount</label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <form enctype="multipart/form-data" method="post">
                <dl>
                    <dt>
                        <label asp-for="EntryUpload"></label>
                    </dt>
                    <dd>
                        <input asp-for="EntryUpload" type="file">
                    </dd>
                </dl>
                <input asp-page-handler="EntryUpload" class="btn btn-primary" type="submit" value="EntryUpload" />
            </form>
            @*
                <div class="form-group" accept=".txt,.pdf,.doc,.docx,.png,.jpg,.jpeg">
                    Supporting File: <input asp-for="Upload" type="file" />
                </div>
            *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

