<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home Page - CredPanda</title>
    <!--Eli App: links-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EliApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--BootStrap CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/e44be1a57c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--CredPanda Logo-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/CredPanda Logo.png" width="110" height="110" alt="">
                </a>
            
                <!--Navigation & Navigation Side Bar-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/" data-bs-toggle="tooltip" data-bs-placement="top" title="CredPanda - Home">Home</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/User/ListUsers" data-bs-toggle="tooltip" data-bs-placement="top" title="View User Accounts">User</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/Role/ListRoles" data-bs-toggle="tooltip" data-bs-placement="top" title="View Roles">Role</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/Account" data-bs-toggle="tooltip" data-bs-placement="top" title="View Financial Accounts">Accounts</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/Entry" data-bs-toggle="tooltip" data-bs-placement="top" title="View Journal Entries">Journal</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/Help" data-bs-toggle="tooltip" data-bs-placement="top" title="Need Assistance? Click Here">Help</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!--Footer: CredPanda-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Group 5 - Application Domain - Kennesaw State University - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>















