@using Microsoft.AspNetCore.Identity
@using EliApp.Areas.Identity.Data
@inject SignInManager<EliAppUser> SignInManager
@inject UserManager<EliAppUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);     
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var profilepicName = user.ProfilePicture;
    var profilePicPath = "~/uploads/" + profilepicName ?? "blankProfilePic.jpg";
    <li class="nav-item">
        <img class="w3-circle" src="@profilePicPath" height="60" width="auto" asp-append-version="true" />
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
