@{ ViewData["Title"] = "Help Page";

}





<div class="col-12 text-center mt-6">
    <h1 class="text-dark pt-4">Get Support Here</h1>
    <div class="border-top border-info w-25 mx-auto my-1"></div>
</div>




<!--Column 1: Login and Registration Issues-->
<div class="row">
    <div class="col-sm-3 col-xs-3">
        <h2 class="text-light">Account Registration/Login</h2>
        <h3 class="text-dark">Forgot your Login Password?</h3>
        <p class="text-start fw-light">Please select "Login" and select the link "Forgot your password?" to reset a new password.</p>
        <h3 class="text-dark">Need to Register?</h3>
        <p class="text-start fw-light">Please select "Register" to register to CredPanda!</p>
        <h3 class="text-dark">Confirm your Account with Email Verification.</h3>
        <p>Please go to the "Users" tab and click on the "Resend Email Confirmation". Please enter your email to recieve an email confirmation with CredPanda. If you haven't received an email within 3 minutes of sending out the request, please re-enter your email.</p>
    </div>


    <!--Column 2: Role-->

    <div class="col-sm-3 col-xs-3">
        <h2 class="text-light">Role</h2>
        <h3 class="text-dark">Need to Create a New Role?</h3>
        <p class="text-md-start fw-light">
            To create a new role, please select "Create Role". Once you have made the selection,
            please enter the Role Name (this field is required). Once you have created the role name,
            you will be able to edit or delete the role/roles and add a new role.
        </p>
        <h3 class="text-dark">Role - Need to Edit the Role Name?</h3>
        <p class="text-md-start fw-light">
            To edit the role, please select "Edit" the RoleName and "Update" or "Cancel" the selection you have made.
        </p>
    </div>

    <!--Column 3: Journal-->
    <div class="col-sm-5 col-xs-5">
        <h2 class="text-light">Journal</h2>
        <h3 class="text-dark">Need to Write a New Journal Entry?</h3>
        <p class="text-md-start fw-light">
            Please select the "Journal" tab and select the link "Write New Entry" to get started. Here you will need
            to enter the Account Involved, Type of Account, the Amount, and Upload the Entry. Once you are done, don't forget to select "Create".
        </p>
        <h3 class="text-dark">How to Print: Journal Entry/Entries</h3>
        <p>Please select the "Journal" tab and select "Print Journal Entry" tab to print. </p>
        <h3 class="text-dark">Need to Locate a Journal Entry? </h3>
        <p class="text-md-start"> Please select the "Journal" tab and search the entry you're looking for.</p>
        <h3 class="text-dark">How to: Journal Entry</h3>
        <p class="text-md-start text-break fw-light">
            "Creation Date" - this is the date when the entry was recorded. Example: 11/16/2022

            "Account Involved" - Debit/Credit.

            "Type of Account" - Could be: Assets, Expenses, Liabilities, Revenue, Owner's Equity.

            "Status"- status of the journal entry. Example: E (error), V (valid), Pending Approval, Not Applicable, etc.

            "Amount"- the amount of the entry made. Example: $400
        </p>
    </div>
</div>
