/*Full Website: Font and Margin*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*Home-Item-User-Role-Journal-Help Link Font/Boldness/Position*/
.nav-item {
    position: center;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/*For the Jumbotron-"Welcome to CredPanda - Check out the Github Repos"*/
.jumbotron {
    background-color: #4982b6 !important;
}


/*Background color of Entire Site*/
body {
    background: #4982b6 !important;
}


/*Image*/
.top1 img{
 max-height: 500%;
 display: block;
    }

.hi1{
    height: 55px;
}
