@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CredPanda!</h1>
    <p>Check out the <a href="https://github.com/SWE-Application-Domain-Group-5/CredPanda-DomainApp">GitHub Repository!</a></p>
</div>
